<!DOCTYPE html>
<html lang="en">
	<head>
		<title>APCS @ Lowell</title>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="styles.css">
		<script src="processing.js"></script>
	</head>
	<body>
		<header>
			<div>
				<h1>APCS @ Lowell High School</h1>
				<h3>An AP Java course that uses Processing and GitHub</h3>
			</div>
			<canvas id="RotatingEllipse/RotatingEllipse" data-processing-sources="RotatingEllipse/RotatingEllipse.pde"></canvas>
		</header>
		<main>
			{{ content }}
		</main>
		<footer>
			<div id="author">
				<p><a id="name" href="mailto:simona1@sfusd.edu">Art Simon</a></p>
				<p id="role">Computer Science Instructor</p>
				<p id="location">Lowell High School, San Francisco, CA</p>
			</div>
			<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
				<img alt="Creative Commons License" src="https://i.creativecommons.org/l/by/4.0/88x31.png"/>
			</a>
			<div>
				<p><span xmlns:dct="https://purl.org/dc/terms/" property="dct:title">APCS@Lowell</span> by <a xmlns:cc="https://creativecommons.org/ns#" href="https://apcslowell.github.io" property="cc:attributionName" rel="cc:attributionURL">Art Simon</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a></p>
				<p>This course was supported by an NSF grant through Bryn Mawr College and Southern Methodist University</p>
			</div>
		</footer>
	</body>
</html>
