<!DOCTYPE html>
<html lang="en">
	<head>
		<title>APCS @ Lowell</title>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="styles.css">
		<script src="processing.js"></script>
	</head>
	<body>
		<header>
			<div>
				<h1>APCS @ Lowell High School</h1>
				<h3>An AP Java course that uses Processing and GitHub</h3>
			</div>
			<canvas id="RotatingEllipse/RotatingEllipse" data-processing-sources="RotatingEllipse/RotatingEllipse.pde"></canvas>
		</header>
		<main>
			{{ content }}
		</main>
		<footer>
			<a href="mailto:simona1@sfusd.edu">Art Simon</a><br>
			Computer Science instructor<br>
			Lowell High School<br>
			San Francisco, CA<br>
			This course was supported by an NSF grant through Bryn Mawr College and Southern Methodist University<br>
			<a rel="license" href="https://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png"/></a><br/>
			<span property="dct:title">AP Computer Science @ Lowell High School</span> by <a href="https://apcslowell.github.io" property="cc:attributionName" rel="cc:attributionURL">Art Simon</a>
			is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.<br/>
			Based on a work at <a href="https://apcslowell.github.io" rel="dct:source">APCSLowell.github.io</a>.<br/>
			Permissions beyond the scope of this license may be available at <a href="https://apcslowell.github.io" rel="cc:morePermissions">APCSLowell.github.io</a>.
		</footer>
	</body>
</html>
