<!DOCTYPE html>
<html lang="en">
	<head>
		<title>APCS @ Lowell</title>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../styles.css">
	</head>
	<body>
		<main>
			{{ content }}
			{% if page.samples != nil %}
				<h2 id="student-work-samples">Samples of Student Work <svg style="display: inline; vertical-align: bottom" onclick="let elem = document.querySelector('#repo-examples').style; elem.flexDirection = elem.flexDirection === 'column' ? '' : 'column'" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="32px" id="Layer_1" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve"><path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/></svg></h2>
				<div id="repo-examples">
					{% for item in page.samples %}
						<a class="repo-example" href="{{ item.url }}">
							{{item.name}}
						</a>
					{% endfor %}
				</div>
			{% endif %}
		</main>
	</body>
</html>
